<section>
  <h3 id="about-me">About Myself</h3>

  <div class="face-lockup">

    <div class="face-img"></div>

    <div class="icon-code">{% include icons/icon-code.html%}</div>
    <div class="icon-sec">{% include icons/icon-sec.html%}</div>
    <div class="icon-task">{% include icons/icon-task.html%}</div>
    <div class="icon-web">{% include icons/icon-web.html%}</div>

  </div>

    <div class="blurb">
    <p>I'm 22 years old man who lives his life and enjoy every moment.I like travelling and discovering new places.I'm dealing with different technology and IT solutions. My professional field is a Cyber Security.</p>
</div>


    <div class="skill-lockup">

      <div class="skill-unit">
        <div class="skill-label">Communication</div>
        <div class="skill-icons skill-9">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Organization</div>
      <div class="skill-icons skill-7">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
  </div>

  <div class="skill-unit">
    <div class="skill-label">Learning</div>
    <div class="skill-icons skill-7">
      <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
    </div>
</div>

<div class="skill-unit">
  <div class="skill-label">Teaching</div>
  <div class="skill-icons skill-8">
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </div>
</div>

<div class="skill-unit">
  <div class="skill-label">Planning</div>
  <div class="skill-icons skill-5">
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </div>
</div>

<div class="skill-unit">
  <div class="skill-label">Designing</div>
  <div class="skill-icons skill-5">
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </div>
</div>

<div class="skill-unit">
  <div class="skill-label">Programming</div>
  <div class="skill-icons skill-9">
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </div>
</div>

<div class="skill-unit">
  <div class="skill-label">UX desing</div>
  <div class="skill-icons skill-7">
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </div>
</div>

  </div>


</section>
